@media screen And (max-width:420px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
#lezioni .row>.left,
#lezioni .row>.right {
    width: 100%;
}
#lezioni {
    background-color: rgb(250, 250, 187);
}
.container{
    width: 100%;
    padding: 1vh 0;
}
.container img{
    transform: scale(0.6);
}
.container p{
    font-size: .7rem;
}
.row {
    width: 100vw;
    margin: 0;
}
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
    width: 100%;
}
#why{
    background-color:rgb(250, 250, 187);
}
#why .row>.first,
#why .row>.second,
#why .row>.third{
    margin: 0;
}
}